---
const { place, artist, album, image, writeup } = Astro.props;
---

<div class="container">
  <div class="Place">{place}</div>
  <div class="Art">
    <img src=`${image}` alt=`Album cover from ${artist}'s "${album}"` width="300px" />
  </div>
  <div class="Titles">
    <h3 class="artistname">{artist}</h3>
    <h4 class="albumname"><em>{album}</em></h4>
  </div>
  <div class="Writeup"><p class="writeup">{writeup}</p></div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 0.25fr 1.5fr 1.5fr;
    grid-template-rows: 1fr auto;
    gap: 0px 0px;
    border: 3px solid #555555;
    border-radius: 10px;
    margin: 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "Place Art Titles"
      "Writeup Writeup Writeup";
  }

  .Place {
    grid-area: Place;
    align-self: center;
    margin: auto;
    font-size: 30px;
  }

  .Art {
    grid-area: Art;
    margin: auto;
    margin-top: 10px;
  }

  .Titles {
    grid-area: Titles;
    margin: auto;
  }

  .Writeup {
    grid-area: Writeup;
    padding-left: 5px;
  }
</style>
