---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import bird from "../img/argenteuil_1970.17.42.jpg";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by {frontmatter.author}</p>
  <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
  <!-- <img src={frontmatter.image.url} width="100%" alt={frontmatter.image.alt} /> -->
  <img src="../img/argenteuil_1970.17.42.jpg" alt="A bird." />
  <slot />
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
